@model dynamic
@{
    ViewBag.Title = "Pass using ViewBag";
}

<h2>Current Date & Time</h2>
<dl class="dl-horizontal">
     
    <dd>Первое число :@ViewBag.First</dd>
    <dd>Второе число :@ViewBag.Second</dd>
    <dd>Сумма :@ViewBag.Sum</dd>
    <dd>Вычитание :@ViewBag.Substruct</dd>
    <dd>Умножение :@ViewBag.Multyply</dd>
    <dd>Деление :@ViewBag.Divide</dd>

</dl>